################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.obj
/.bin
/bin/x64/Debug/net8.0
/obj
